*{
    font-family: Roboto, serif;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}
body{
    margin: 0;
}

header{
    height: 800px;
    width: 100%;
    background: url("../assets/img/Main bg.svg") no-repeat center/cover;
}

.logo{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
}

.radio{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}

.radio h2{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}

.maintext{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}

.maintext__create h1,
.maintext__create h3{
    font-weight: 900;
    line-height: 41px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #F9BF3B;
    font-size: 41px;
}

.maintext__simple h2{
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 12px;
    margin-bottom: 12px;
}

.maintext__desription{
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    margin-top: 20px;
}
.maintext__desription--orange{
    color: #F9BF3B;
}

.maintext__button{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.maintext__button button{
    width: 315px;
    height: 72px;
    background-image: linear-gradient(#FF4D00, #FEB05D);
    text-shadow: -1px -1px rgba(0,0,0,0.2);
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFF;
}

.learnmore{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learnmore p{
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFF;
}

.learnmore__icon{
    margin-top: 10px;
}

.intensive {
    height: 600px;
    background-color: #EFEFEF;
}

.intensive__information h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding-top: 80px;
    color: #252525;
}

.intensive__separator {
    background-color: #F9BF3B;
    width: 220px;
    height: 7px;
    margin: 14px auto 0;
}

.intensive__information--additional h3 {
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #4A4A4A;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    text-align: center;
    align-items: start;
    margin-top: 42px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #4A4A4A;
    text-align: center;
}

.about {
    padding-bottom: 200px;
    position: relative;
    height: auto;
    background-color: #100c0c;
    overflow: hidden;
}
.about__description {
    position: relative;
    z-index: 2;
    padding-top: 100px;
    margin-right: 150px;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
}
.about__description--header{
    color: #F9BF3B;
    text-align: right;
}

.about__description--article{
    margin-top: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #FFF;
}

.radio-image {
    position: absolute;
    top: 180px;
    left: 100px;
    background: url("../assets/img/Online radio.svg") no-repeat left center;
    background-size: contain;
    z-index: 1;
}


.benefits {
    background: url("../assets/img/Bg.svg") no-repeat center/cover;

}

.benefits__title {
    padding-top: 80px;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #EFEFEF;
    margin-bottom: 12px;
}

.benefits__container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 0 20px 75px;
    gap: 5px;
}

.benefits__item {
    text-align: center;
    flex: 1;
}

.benefits__circle {
    width: 100px;
    height: 100px;
    background: #F9BF3B;
    border-radius: 50%;
    margin: 0 auto 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.benefits__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #EFEFEF;
    padding: 0 10px;
}

.benefits__separator{
    background-color: #F9BF3B;
    width: 220px;
    height: 7px;
    margin: 25px auto 0;
}

.prize__container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.bonuses{
    margin-top: 80px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;
    color: #252525;
}

.dates{
    background: #0F0B0B;
}
.online--logo{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.dates h3{
    margin-top: 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.dates h2{
    margin-top: 20px;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #F9BF3B;
}

.dates h4{
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #EFEFEF;
    margin-top: 20px;
    padding-bottom: 50px;
}

footer{
    height: 165px;
    background: #1A1A1A;
}

footer p{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    text-decoration-style: solid;
    color: #888888;
    padding-top: 60px;
}
a{
    color: #888888;
}